@import "tailwindcss";

@theme {
  --color-yellow-color: #FFDE42;
  --color-cyan-color: #53CBF3;
  --color-blue-color: #088395;
  --color-dark-blue-color: #09637E;
  --color-green-color: #44A194;
  --color-dark-green-color: #098f67;
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}